# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# files for website
Fire Model Data/

# animation folder (too many files created by manim)
animation/__pycache__
animation/media

# website
Fire Model.Rmd
Fire-Model.html
forest_burned.jpg
forest_fire.png
Fire Model II.Rmd
Fire-Model-II.html


.Rproj.user
