# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# files for website
Fire Model Data/

# website
Fire Model.Rmd
Fire-Model.html
forest_burned.jpg
forest_fire.png


.Rproj.user
